
/****** Object:  Database [Medic]    Script Date: 15.04.2025 13:24:20 ******/
CREATE DATABASE [Medic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Medic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Medic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Medic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Medic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Medic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Medic]
GO
/****** Object:  Table [dbo].[Med]    Script Date: 15.04.2025 13:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Med](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Descript] [nvarchar](200) NOT NULL,
	[Pathologic] [int] NOT NULL,
	[Partner] [nvarchar](50) NOT NULL,
	[Diognas] [nvarchar](50) NOT NULL,
	[Form] [nvarchar](50) NOT NULL,
	[Cost] [int] NOT NULL,
	[Skidka] [float] NOT NULL,
 CONSTRAINT [PK_Med] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pathologic]    Script Date: 15.04.2025 13:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pathologic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Pathologic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Med] ON 

INSERT [dbo].[Med] ([Id], [Name], [Descript], [Pathologic], [Partner], [Diognas], [Form], [Cost], [Skidka]) VALUES (1, N'Стрепсил', N'Стрепсилс - это лекараственное средство, которое обычно используется для облекчение боли в горле и уменешения раздражения', 1, N'Perfeto Ызщке', N'Кашель', N'Таблетки', 470, 0.1)
INSERT [dbo].[Med] ([Id], [Name], [Descript], [Pathologic], [Partner], [Diognas], [Form], [Cost], [Skidka]) VALUES (2, N'Фаринорм', N'Бензидамин при местном примечении снимает воспаление и боль при заболеваниях горла, полости рта и глотки, обладает антибактериальным противгрибковым и антисептическим действием', 1, N'ROMANA Next', N'Кашель', N'Спрей', 433, 0.05)
INSERT [dbo].[Med] ([Id], [Name], [Descript], [Pathologic], [Partner], [Diognas], [Form], [Cost], [Skidka]) VALUES (3, N'Гексорап', N'гекстэдин - антисептический лекарственнный препарат в виде раствора или аэроэля для местного примечения', 1, N'Moby Kids', N'ККашель', N'Сироп', 484, 0.05)
SET IDENTITY_INSERT [dbo].[Med] OFF
GO
SET IDENTITY_INSERT [dbo].[Pathologic] ON 

INSERT [dbo].[Pathologic] ([Id], [Name]) VALUES (1, N'Простуда и грипп')
INSERT [dbo].[Pathologic] ([Id], [Name]) VALUES (2, N'Мигрень')
INSERT [dbo].[Pathologic] ([Id], [Name]) VALUES (3, N'Отравление')
SET IDENTITY_INSERT [dbo].[Pathologic] OFF
GO
ALTER TABLE [dbo].[Med]  WITH CHECK ADD  CONSTRAINT [FK_Med_Pathologic] FOREIGN KEY([Pathologic])
REFERENCES [dbo].[Pathologic] ([Id])
GO
ALTER TABLE [dbo].[Med] CHECK CONSTRAINT [FK_Med_Pathologic]
GO
USE [master]
GO
